/* обнуление */
*,
*::before,
*::after {
   padding: 0;
   margin: 0;
   border: 0;
   box-sizing: border-box;
}
a {
   text-decoration: none;
}
ul,
ol,
li {
   list-style: none;
}
img {
   vertical-align: top;
}
h1,
h2,
h3,
h4,
h5, 
h6 {
   font-weight: inherit;
   font-size: inherit ;
}
html,
body {
   height: 100%;
   line-height: 1;
    background: #222831;
    font-family: 'Poppins', sans-serif;  

}
/* PC */
.wrapper {
   min-height: 100%;
   display: flex;
   flex-direction: column;
   margin: 15px;
}
.main {
   padding-bottom: 30px;
   flex: 1 1 auto;
}
.header {
   width: 100%;
   height: 96px;
   display: flex;
   justify-content: space-around;
   
}
.header_logo {
   justify-content: flex-start;
}
.header_logo h1 {
  font-family:  'Oswald', sans-serif;
  color:#EEEEEE;
  font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 36px;
width: 109px;
height: 36px;
}
.heder_navigation{
   display: flex;
   justify-content: flex-end;
   gap: 40px;
   padding: 30px, 96px, 30px, 96px;
   margin-top: 10px;
   height: 86px;
}
   .heder_navigation a {
      font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 27px;
color: #EEEEEE;
   }
   .heder_navigation a:hover {
      text-decoration: underline 4px  #00ADB5;
   }
   @media (max-width: 31.25rem) {
      .header_logo h1 {
         font-size: 16px;
   
      }
      .heder_navigation a {
         font-size:14px;
         line-height: 25px;
      }}
.footer {
  position: relative;
  height: 219px;
  width: 100%;
   display: block;
   margin-left: 0;
   margin-right: 0;
  left: 0;
  bottom: 0;
}
.home:last-child {
padding-bottom: 0;
}
.home {
   width: 100%;
   height: 860px;
   margin-left: 30px;
   margin-top: 10px;
   text-align: center;}
   .home_content {
      width: 100%;
      height: 860px;
      display: flex;
      justify-content: space-between;
      gap: 0px;
      margin: 10px;
      padding: 5px;
   }
   .text_block h1 {
font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 96px;
line-height: 96px;
color: #EEEEEE;
padding-bottom: 0;
   }
.btn_block {
   width: 383px;
   height: 47px;
   display: flex;
   gap: 10px;
   flex-direction: row;
}

#green {
padding: 32px 10px 32px 10px;
width: 136px;
height: 47px;
font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 27px;
background: none;
color: #EEEEEE;
background: #00ADB5;
border-radius: 24px;
}
#green:hover {
   border: 3px solid #EEEEEE;
}
#grey {
font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 27px;
color: #EEEEEE;
border: none;
text-align: center;
height: 47px;
width: 233px;
padding: 32px 10px 32px 10px;
background: rgba(57, 62, 70, 0.75);
backdrop-filter: blur(2px);
border-radius: 24px;
}
#grey:hover {
   border: 3px solid #00ADB5;
}
#download {
   max-width: 100%;
}
/* mobile */
@media (max-width: 31.25rem) {
.text_block h1 {
   font-size: 24px;
   line-height: 33px;
   margin-left: 0;
   float: left;
}
.wrapper {
   margin: 12px;
}
   .home {
      margin-left: 15px;
   }
   .home_content {
      padding: 0;
      margin: 0;
      justify-content: space-between;
   }
   .btn_block  {
   float: left;
   gap: 5px;
   }
   #grey {
font-size: 10px;
line-height: 20px;
width: 130px;
height: 30px;
padding: 16px 5px 20px 5px;
margin-left: 2px;
   }
   #green {
      padding: 16px 5px 20px 5px;
      font-size: 10px;
      width: 68px;
      height: 24px;

   }
   #download {
      width: 20%;
      height: 20%;
      margin-top: 0;
   }
}
.picture_block{
   width: 535px;
   height: 580px;
   float: right;
   justify-content: center;
   background-image: url("../img/background/background.PNG");
   background-size: cover;
}
.picture_block img {
   max-width: 100%;
}
/* mobile */
@media (max-width: 31.25rem) {
  .picture_block {
   width: 200px;
   height: 260px;
   margin-right: 100%;
   margin-left: 0;
   float: none;
   background-size: 50%;
   
  }
  .picture_block img {
   width: 35%;
   height: 35%;
  }
}    
